
<div class="panel panel-default">

	<div class="panel-body">
		  <h3><strong>Description:</strong></h3>
		  <br>
		  <%= @pin.description %>
		  <br>
		  <br>

		<%= link_to 'Edit', edit_pin_path(@pin), class: "btn btn-primary"  %> 
		<%= link_to 'Back', pins_path, class: "btn btn-primary" %>


	</div>


</div>